# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/

# Django specific
*.sqlite3
db.sqlite3
*.log

# Static files
static/

# Media files
media/

# IDE/editor configurations
.vscode/
.idea/

# Operating system specific
.DS_Store
Thumbs.db

# Environment variables
.env

# Local settings
local_settings.py
